<wm-page layouttype="one-column" columns="1" data-ng-controller="OrdersPageController" name="page1">
    <wm-header content="header" name="header" backgroundcolor="#005387" class="eshop-header" height="6em"></wm-header>
    <wm-top-nav name="nav-bar-primary" backgroundcolor="#0a3151" content="topnav"></wm-top-nav>
    <wm-content name="content1" height="100%">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" name="column1">
                <wm-label caption="No Orders" name="no_orders_text" show="false" margintop="2" marginright="2" marginbottom="2" marginleft="2" marginunit="em"></wm-label>
                <wm-list show="false" name="ordersList" class="orders-list">
                    <wm-list-item name="order-item" data-ng-repeat="order in itemOrders">
                        <wm-row name="row2" class="order-detail col-md-12">
                            <wm-column name="column2" columnwidth="2">
                                <wm-label name="order_id" caption="Order ID: {{order.productorder.id}}"></wm-label>
                            </wm-column>
                            <wm-column name="column3" columnwidth="7">
                                <wm-label name="order_items_name" caption="Product Name: {{order.product.name}}"></wm-label>
                            </wm-column>
                            <wm-column name="column4" columnwidth="1">
                                <wm-label name="order_items_quantity" caption="Quantity: {{order.quantity}}"></wm-label>
                            </wm-column>
                            <wm-column name="column5" columnwidth="2">
                                <wm-label name="order_items_status" caption="Status: {{order.productorder.status}}"></wm-label>
                            </wm-column>
                        </wm-row>
                    </wm-list-item>
                </wm-list>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>