.cart-items .cart-items-thumb {
    max-width: 2em;
    max-height: 2em;
    padding: 0.25em;
}
.app-livelist.cart-items-container {
    overflow: visible;
}
.cart-items {
    border-bottom: 1px #eee solid;
    padding: 0.25em;
}
.cart-items-price .cart-items-name {
    text-align: center;
}
.total-items {
    background: #eee;
    border: 1px #ccc solid;
    text-align: left;
    padding: 1em;
    margin: 1em;
}
.btn-container {
    padding: 3em;
}
.imageColumn {
    width: 3em;
}