.products .app-list-item .product-thumb {
    max-width: 10em;
    max-height: 6em;
    padding: 0.25em;
}
.products {
    cursor: pointer;
}
.products .app-list-item {
    height: 12em;
    border: 1px #eee solid;
    margin: 0.25em;
    padding: 0.25em;
}
.products .app-list-item .app-label{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-price .product-name {
    text-align: center;
}
.prodCategoryBanner:hover {
    border: 1px solid #ffd926;
}